<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Playground — Complete Intro to Vue 3</title>
</head>

<body>
  <div id="app">
    <h1>Counter</h1>
    <p>{{ count }}</p>
    <button v-on:click="incrementCount">Increment count</button>
    <div>
      <label for="incrementAmount">Increment by:</label>
      <input type="number" v-bind:value="incrementAmount" v-on:input="changeIncrementAmount" />
    </div>
    <h1>Hello Frontend Masters</h1>
    <p v-if="message.length % 2">Even: {{ message.toUpperCase() }}</p>
    <p v-else>Odd: {{ message }}</p>
    <ul>
      <li v-for="number in listOfNumbers">{{ number * Math.random() }}</li>
    </ul>
    <hr />
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    // Vue 3
    const { createApp } = Vue

    const app = createApp({
      data() {
        return {
          message: "Hello it works!",
          listOfNumbers: [1, 2, 3, 4, 5],
          count: 10,
          incrementAmount: 8
        }
      },
      methods: {
        incrementCount() {
          this.count += this.incrementAmount
        },
        changeIncrementAmount(event) {
          this.incrementAmount = Number(event.target.value)
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>